
services:
  # PostgreSQL Database
  postgres:
    image: postgres:15-alpine
    container_name: my-postgres-db
    environment:
      POSTGRES_DB: digitalLogistics
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin123
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - spring-network

  # pgAdmin
  pgadmin:
    image: dpage/pgadmin4:latest
    container_name: my-pgadmin
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: admin123
    ports:
      - "5050:80"
    networks:
      - spring-network
    depends_on:
      - postgres

  # Keycloak
  keycloak:
    image: quay.io/keycloak/keycloak:24.0.5
    container_name: keycloak
    command: start-dev
    environment:
      KC_DB: postgres
      KC_DB_URL: jdbc:postgresql://postgres:5432/digitalLogistics
      KC_DB_USERNAME: admin
      KC_DB_PASSWORD: admin123

      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: admin123
    ports:
      - "8081:8080"
    volumes:
      - keycloak_data:/opt/keycloak/data
    depends_on:
      - postgres
    networks:
      - spring-network

volumes:
  postgres_data:
  keycloak_data:

networks:
  spring-network:
    driver: bridge
